@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply font-montserrat;
  }
  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-6xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply font-bold text-lg sm:text-xl md:text-lg lg:text-xl xl:text-2xl;
    /* @apply text-4xl sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl; */
  }
  h4 {
    @apply text-4xl sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl;
    /* @apply font-bold text-lg sm:text-xl md:text-lg lg:text-xl xl:text-2xl; */
  }
  h5 {
    @apply font-bold text-lg md:text-xl;
    /* @apply text-lg sm:text-lg md:text-xl lg:text-xl xl:text-xl; */
  }
  h6 {
    @apply font-light text-xl;
    /* @apply text-lg font-light; */
  }
  p {
    @apply text-base md:text-lg text-start;
  }

  a {
    @apply hover:underline hover:cursor-pointer;
  }

  th {
    @apply bg-tableHead text-textSecondary text-start;
  }
  td,
  th {
    @apply p-3;
  }
  td:last-child,
  th:last-child {
    @apply p-3 border-l-8 border-white;
  }

  table {
    @apply w-full;
  }

  button {
    @apply transition-all duration-300 ease-linear;
  }

  .round-button {
    @apply bg-primary-100 hover:bg-primary-200 hover:cursor-pointer  rounded-full font-bold text-xl 
            px-5 py-2  sm:py-3 sm:px-7 md:text-xl lg:text-xl xl:text-lg;
  }
  .sharp-button {
    @apply bg-primary-100 hover:bg-primary-200 hover:cursor-pointer text-xl 
            px-5 py-3  sm:py-3 sm:px-7 md:text-xl lg:text-xl xl:text-lg text-nowrap w-max text-white;
  }


  button > a {
    @apply no-underline;
  }

  .arrow {
    @apply fill-primary-100;
  }
  .arrow--disabled {
    @apply opacity-50;
  }



  ul{
    @apply transition-all duration-300 ease-linear
  }
}
